.table {
    display: flex;
    flex-direction: column;
    border: 1px solid white; /* Optional: Adds border around the table */
    margin:50px; /* Optional */
    background-color: rgb(235, 192, 144);
    color:rgb(72, 110, 216);
}
  
  /* Make each row a flex container in row direction */
  .table-row {
    display: flex;

  }
  
  /* Style the cells */
  .table-cell {
    flex: 1; /* Equally distribute the width */
    padding: 8px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Optional: Adds border around cells */
    box-sizing: border-box; /* Ensure padding and border are included in the width and height */
    font-size: 16;
    font-style:italic;
    color:black;
 }
  

  /* Optional: Style for the header row */
  .table-row:first-child {
    font-weight: bold;
    background-color: #f4f4f4;
  }
  